In [10]:
pd.read_csv('Covid19Education_tweets_final.csv')

,Unnamed: 0,username,name,tweet
0,0,realsmithj,Jason Smith,@BrockWHarrison @RachelNotley Remember that ti...
1,1,theabcsofmissv,Taylor Vollstedt,TOGETHER WE CAN become Masters of Education th...
2,2,mcola34,mia,@MikeCarlton01 Wow.We are doing well on the gl...
3,3,ric4100,Ric Paul,Thank God Florida had @GovRonDeSantis as the G...
4,4,janicekayephd,Janice Kaye🇨🇦 Ph.D.🇺🇸 Vax💉💉💉Mask😷 🇺🇦 🟩,Needs an education in how the virus is spread....
...,...,...,...,...
5266,6241,phkule,Philippine Collegian,"Del Mundo (chair, UP Alyansa): We will continu..."
5267,6242,uobedresearch,Education Research at Birmingham,"#FridayEdArchive #EdResearch2021 Hall, Byrne ,..."
5268,6243,friedbergeric,Eric Friedberg MD,COVID-19 &amp; virtual medical student educati...
5269,6244,moms4edfreedom,Moms for #EducationFreedom,#BREAKING: Office for Civil Rights Reaches Res...
5270,6245,dijahjawo,_____Dijah,"So heartbreaking, a year has gone by without j..."

In [11]:
df2 = pd.read_csv('Covid19Education_tweets_final.csv')

In [12]:
df2.isnull().any().any()

True

In [17]:
df2.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5271 entries, 0 to 5270
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5271 non-null   int64
 1   username    5271 non-null   object
 2   name        5270 non-null   object
 3   tweet       5271 non-null   object
dtypes: int64(1), object(3)
memory usage: 164.8+ KB

In [14]:
df_new=df2[df2['tweet'].notnull()]

In [15]:
df_new.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5271 entries, 0 to 5270
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5271 non-null   int64
 1   username    5271 non-null   object
 2   name        5270 non-null   object
 3   tweet       5271 non-null   object
dtypes: int64(1), object(3)
memory usage: 205.9+ KB

In [18]:
df_new.isnull().any().any()

True

In [32]:
df_new['NewTweet'] = df_new['tweet'].str.lower().str.split() 
df_new['NewTweet'] = df_new['NewTweet'].apply(lambda x : [item for item in x if item not in stop])

In [33]:
df_new.head()

,Unnamed: 0,username,name,tweet,NewReviews,NewTweet
0,0,realsmithj,Jason Smith,@BrockWHarrison @RachelNotley Remember that ti...,"[@brockwharrison, @rachelnotley, remember, tha...","[@brockwharrison, @rachelnotley, remember, tim..."
1,1,theabcsofmissv,Taylor Vollstedt,TOGETHER WE CAN become Masters of Education th...,"[together, we, can, become, masters, of, educa...","[together, become, masters, education, global,..."
2,2,mcola34,mia,@MikeCarlton01 Wow.We are doing well on the gl...,"[@mikecarlton01, wow.we, are, doing, well, on,...","[@mikecarlton01, wow.we, well, global, stage.,..."
3,3,ric4100,Ric Paul,Thank God Florida had @GovRonDeSantis as the G...,"[thank, god, florida, had, @govrondesantis, as...","[thank, god, florida, @govrondesantis, governo..."
4,4,janicekayephd,Janice Kaye🇨🇦 Ph.D.🇺🇸 Vax💉💉💉Mask😷 🇺🇦 🟩,Needs an education in how the virus is spread....,"[needs, an, education, in, how, the, virus, is...","[needs, education, virus, spread., heard, cons..."

In [39]:
df_new.drop(['Unnamed: 0','NewReviews'],axis = 1, inplace = True)

In [40]:
df_new.head()

,username,name,tweet,NewTweet
0,realsmithj,Jason Smith,@BrockWHarrison @RachelNotley Remember that ti...,"[@brockwharrison, @rachelnotley, remember, tim..."
1,theabcsofmissv,Taylor Vollstedt,TOGETHER WE CAN become Masters of Education th...,"[together, become, masters, education, global,..."
2,mcola34,mia,@MikeCarlton01 Wow.We are doing well on the gl...,"[@mikecarlton01, wow.we, well, global, stage.,..."
3,ric4100,Ric Paul,Thank God Florida had @GovRonDeSantis as the G...,"[thank, god, florida, @govrondesantis, governo..."
4,janicekayephd,Janice Kaye🇨🇦 Ph.D.🇺🇸 Vax💉💉💉Mask😷 🇺🇦 🟩,Needs an education in how the virus is spread....,"[needs, education, virus, spread., heard, cons..."

In [41]:
export_csv = df_new.to_csv(r'Covid19_Education.csv')